client_secret_452392817293-omce8fua8307hkuvlngpvpebvnot3qh1.apps.googleusercontent.com.json
__pycache__
tokens
reference-flux-457202-q1-e7fc354441a8.json
.env
TESTt.xlsx
TESTt doc.xlsx
~$TESTt.xlsx
tokens.db
client_secret_736997996838-k40bdk0dc4uh90ic5d8km1l46dsddnh2.apps.googleusercontent.com.json
venv
reference-flux-457202-q1-df791ffed3f0.json
inlaid-agility-459107-r8-b1df210116d7.json
.tempCodeRunnerFile-*
**/__init__.py
client_secret_797063332658-tecokfas0527ikebhfub6puh7d7q1pv7.apps.googleusercontent.com (1).json